includes:
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-phpunit/rules.neon

parameters:
    level: 5
    inferPrivatePropertyTypeFromConstructor: true
    paths:
        - src/
        - tests/
    autoload_files:
        - '%currentWorkingDirectory%/bin/.phpunit/phpunit-8.4.3-0/vendor/autoload.php'
